In [1]:
import pandas as pd
import numpy as np

In [10]:
train=pd.read_csv(r"C:\Users\Cyborg\Music\train.csv")
test=pd.read_csv(r"C:\Users\Cyborg\Downloads\test_QyjYwdj.csv")

In [11]:
test.shape

(50226, 4)

In [12]:
test.head()

   id  campaign_id  coupon_id  customer_id
0   3           22        869          967
1   4           20        389         1566
2   5           22        981          510
3   8           25       1069          361
4  10           17        498          811

In [13]:
train.shape

(78369, 5)

In [14]:
train.head(5)
# coupon id, campaign id and customer id has multiple counts to one value
# redemption status is the target

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [28]:
campaign_data=pd.read_csv(r"C:\Users\Cyborg\Music\campaign_data.csv")

In [29]:
campaign_data.shape

(28, 4)

In [30]:
campaign_data.head()
# campaign type has two values X and Y
# campaign id is unique

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [93]:
train=pd.read_csv(r"C:\Users\Cyborg\Music\train.csv")
coupon_data=pd.read_csv(r"C:\Users\Cyborg\Music\coupon_item_mapping.csv")
customer_demographics=pd.read_csv(r"C:\Users\Cyborg\Music\customer_demographics.csv")
customer_transaction=pd.read_csv(r"C:\Users\Cyborg\Music\customer_transaction_data.csv")
item_data=pd.read_csv(r"C:\Users\Cyborg\Music\item_data.csv")

In [94]:
train['campaign_type']=train['campaign_id'].map(campaign_data['campaign_type'])
train['campaign_start_date']=train['campaign_id'].map(campaign_data['start_date'])
train['campaign_end_date']=train['campaign_id'].map(campaign_data['end_date'])

In [95]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,campaign_start_date,campaign_end_date
0,1,13,27,1053,0,Y,08/04/13,10/05/13
1,2,13,116,48,0,Y,08/04/13,10/05/13
2,6,9,635,205,0,Y,15/07/13,16/08/13
3,7,13,644,1050,0,Y,08/04/13,10/05/13
4,9,8,1017,1489,0,Y,29/07/13,30/08/13

In [96]:
customer_demographics.head(5)

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [97]:

train['age_range']=train['customer_id'].map(customer_demographics['age_range'])
train['marital_status']=train['customer_id'].map(customer_demographics['marital_status'])
train['rented']=train['customer_id'].map(customer_demographics['rented'])
train['family_size']=train['customer_id'].map(customer_demographics['family_size'])
train['no_of_children']=train['customer_id'].map(customer_demographics['no_of_children'])
train['income_bracket']=train['customer_id'].map(customer_demographics['income_bracket'])

In [98]:
train.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,campaign_start_date,campaign_end_date,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,13,27,1053,0,Y,08/04/13,10/05/13,NaN,NaN,NaN,NaN,NaN,NaN
1,2,13,116,48,0,Y,08/04/13,10/05/13,46-55,NaN,0.0,2,NaN,5.0
2,6,9,635,205,0,Y,15/07/13,16/08/13,70+,Married,0.0,2,NaN,6.0
3,7,13,644,1050,0,Y,08/04/13,10/05/13,NaN,NaN,NaN,NaN,NaN,NaN
4,9,8,1017,1489,0,Y,29/07/13,30/08/13,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
train['item_id']=train['coupon_id'].map(coupon_data['item_id'])

In [100]:
coupon_data.head()

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

In [101]:
train['brand']=train['item_id'].map(item_data['brand'])
train['brand_type']=train['item_id'].map(item_data['brand_type'])
train['brand_category']=train['item_id'].map(item_data['category'])

In [102]:
train.to_csv("train_final.csv", index=False)

In [105]:
df=pd.read_csv(r"C:\Users\Cyborg\Documents\GitHub\AmExpert-2019\train_final.csv", parse_dates=['campaign_start_date', 'campaign_end_date'])

In [106]:
print(len(df.columns))
df.columns

18

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status',
       'campaign_type', 'campaign_start_date', 'campaign_end_date',
       'age_range', 'marital_status', 'rented', 'family_size',
       'no_of_children', 'income_bracket', 'item_id', 'brand', 'brand_type',
       'brand_category'],
      dtype='object')

In [109]:
# a=np.array(df['marital_status'])
# mar=[]
# for i in a:
#     if

df['marital_status']=df['marital_status'].fillna("marital status NA")
df['marital_status'].value_counts()

marital status NA    55638
Married              16764
Single                5967
Name: marital_status, dtype: int64

In [111]:
df['age_range']=df['age_range'].fillna("age status NA")
df['age_range'].value_counts()

age status NA    39957
46-55            13592
36-45             9879
26-35             6065
70+               3710
56-70             2991
18-25             2175
Name: age_range, dtype: int64

In [126]:
a=df[df['brand']==56]
a['redemption_status'].value_counts()

0    17780
1      168
Name: redemption_status, dtype: int64

In [131]:
df['redemption_status'].value_counts()

0    77640
1      729
Name: redemption_status, dtype: int64

In [115]:
# (2*15888+1*12317+3*5302+5*2868+4*2037)/15888+12317+5302+2868+2037

In [130]:
b=df[df['brand_category']=="Grocery"]
b['redemption_status'].value_counts()

0    51949
1      476
Name: redemption_status, dtype: int64

In [129]:
df['brand_category'].value_counts()

Grocery                   52425
Pharmaceutical            11175
Natural Products           4284
Packaged Meat              4202
Prepared Food              2709
Meat                       1301
Dairy, Juices & Snacks      768
Bakery                      465
Fuel                        395
Flowers & Plants            258
Seafood                     189
Skin & Hair Care             71
Miscellaneous                51
Alcohol                      40
Travel                       36
Name: brand_category, dtype: int64

In [132]:
df.columns

Index(['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status',
       'campaign_type', 'campaign_start_date', 'campaign_end_date',
       'age_range', 'marital_status', 'rented', 'family_size',
       'no_of_children', 'income_bracket', 'item_id', 'brand', 'brand_type',
       'brand_category'],
      dtype='object')

In [133]:
df=df.drop(['campaign_id', 'coupon_id', 'customer_id', 'item_id', 'campaign_start_date', 'campaign_end_date'], axis = 1)

In [134]:
df.columns

Index(['id', 'redemption_status', 'campaign_type', 'age_range',
       'marital_status', 'rented', 'family_size', 'no_of_children',
       'income_bracket', 'brand', 'brand_type', 'brand_category'],
      dtype='object')

In [136]:
np.random.seed(42)
import tensorflow as tf
tf.set_random_seed(42)
from keras import backend as K
# sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
# K.set_session(sess)

In [229]:
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers.core import Dense, Dropout
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
from keras.layers.normalization import BatchNormalization
from keras.layers import Conv2D, MaxPooling2D, MaxPooling1D
from keras.layers import Conv1D, MaxPooling3D, Embedding, Flatten
from keras.models import Sequential

from keras.layers import Embedding

from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [179]:
y=df['redemption_status']
x=df.drop(['redemption_status'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=9000)

In [180]:
print(x.shape, y.shape)

(78369, 11) (78369,)

In [186]:
def auc(y_true, y_pred):
    auc = tf.metrics.auc(y_true, y_pred)[1]
    K.get_session().run(tf.local_variables_initializer())
    return auc

def auc_roc(y_true, y_pred):
    # any tensorflow metric
    value, update_op = tf.contrib.metrics.streaming_auc(y_pred, y_true)

    # find all variables created for this metric
    metric_vars = [i for i in tf.local_variables() if 'auc_roc' in i.name.split('/')[1]]

    # Add metric variables to GLOBAL_VARIABLES collection.
    # They will be initialized for new session.
    for v in metric_vars:
        tf.add_to_collection(tf.GraphKeys.GLOBAL_VARIABLES, v)

    # force to update metric values
    with tf.control_dependencies([update_op]):
        value = tf.identity(value)
        return value

In [181]:

batch_size = 16
n_hidden = 32

In [240]:
timesteps = 128
input_dim = 11
n_classes = 2


print(timesteps)
print(input_dim)
print(len(x_train))

128
11
62695

In [242]:
# Initiliazing the sequential model
# model = Sequential()
# # Configuring the parameters
# model.add(LSTM(n_hidden, input_shape=(timesteps, input_dim)))
# # Adding a dropout layer
# model.add(Dropout(0.5))
# # Adding a dense output layer with sigmoid activation
# model.add(Dense(n_classes, activation='sigmoid'))
# model.summary()

# model = Sequential()
# # Configuring the parameters
# model.add(LSTM(48, input_shape=(timesteps, input_dim), return_sequences=True))
# # Adding a dropout layer
# model.add(Dropout(0.5))
# model.add(LSTM(32))
# # Adding a dense output layer with sigmoid activation
# model.add(Dense(n_classes, activation='sigmoid'))

model = Sequential()
model.add(Embedding(11, output_dim=2))
# model.add(LSTM(300))
model.add(LSTM(300, return_sequences=True))
model.add(Dropout(0.5))
model.add(LSTM(150))

# model.add(LSTM(150))

# model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, None, 2)           22
_________________________________________________________________
lstm_12 (LSTM)               (None, None, 300)         363600
_________________________________________________________________
dropout_18 (Dropout)         (None, None, 300)         0
_________________________________________________________________
lstm_13 (LSTM)               (None, 150)               270600
_________________________________________________________________
dense_14 (Dense)             (None, 1)                 151
=================================================================
Total params: 634,373
Trainable params: 634,373
Non-trainable params: 0
_________________________________________________________________

In [243]:
model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [244]:
# model.compile(loss='categorical_crossentropy',
#               optimizer='rmsprop',
#               metrics=[auc_roc])

In [245]:
epochs=10
# model.fit(x_train,
#           y_train,
#           batch_size=batch_size,
#           epochs=epochs)

model.fit(x, y,
          class_weight='balanced',
          epochs=12,
          batch_size=32,
          validation_split=0.2)

Train on 62695 samples, validate on 15674 samples
Epoch 1/12

ValueError: could not convert string to float: 'Grocery'